<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudo Flask</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="quadrado">
        <div>
            <h3>Formulario:</h3>

            <form method="POST" action="{{url_for('secondpage')}}">
                <label>Nome:</label>
                <input type="text" name="nome" required>
                <br><br>
                <label>E-mail:</label>
                <input type="email" name="email" required>
                <br><br>
                <label>Assunto:</label>
                <input type="text" name="assunto">
                <br><br>
                <label>Mensagem:</label>
                <input type="text" name="mensagem">
                <br><br>
                <button type="submit">Salvar</button>
            </form>
        </div>
        </div>
    </body>
</html>